<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Make It List - Editar Item</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles/module/Formulario.css" />
    <%- include('../partials/styles') %>
</head>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <article class="px-3">
            <section>
                <div>
                    <div class="d-flex align-items-center mt-3 mb-3">
                        <a class="btn btn-ligth" href="/lista/<%= listaId %>">
                            <i class="fa-solid fa-left-long"></i>
                        </a>
                        <h3 class="m-0">Editar item</h3>
                    </div>
                    <hr />
                </div>
                <div class="container p-0" style="max-width: 800px;">
                    <form class="formulario formulario--pequeno p-0 py-3 needs-validation" onsubmit="editarItem(event)" novalidate>
                        <input type="hidden" id="itemId" value="<%= id %>" />
                        <input type="hidden" id="listaId" value="<%= listaId %>" />
                        <div class="h5 text-center">Editar item <span style="color:#7F07F0"><%= nome %></span></div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nome" value="<%= nome %>" placeholder="Digite o nome do item" required />
                            <label for="nome">Nome</label>
                            <div class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="quantidade" value="<%= quantidade %>" placeholder="Digite a quantidade do item" required />
                            <label for="quantidade">Quantidade</label>
                            <div class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="preco" value="<%= preco %>" min="0.00" step=".01" placeholder="Digite o preço do item" required />
                            <label for="preco">Preço (R$)</label>
                            <div class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                        </div>
                        <button type="submit" class="btn formulario__botao formulario__botao--enviar">Salvar</button>
                    </form>
                </div>
            </section>
        </article>
    </main>

    <%- include('../partials/scripts') %>

    <script>
        function editarItem(e) {
            e.preventDefault()

            e.target.classList.add("was-validated")

            var itemId = document.getElementById("itemId").value
            var nome = document.getElementById("nome").value
            var quantidade = document.getElementById("quantidade").value
            var preco = document.getElementById("preco").value
            var listaId = document.getElementById("listaId").value

            if (e.target.checkValidity()) {
                $.ajax({
                    url: "/item/editar/" + itemId,
                    type: "put",
                    data: JSON.stringify({
                        id: itemId,
                        nome: nome,
                        quantidade: parseInt(quantidade),
                        preco: parseFloat(preco),
                        listaId: listaId
                    }),
                    contentType: "application/json"
                }).done(function () {
                    Swal.fire({
                        title: "Sucesso",
                        text: `O item foi editado com sucesso!`,
                        icon: "success"
                    }).then(function () {
                        window.location.href = "/lista/" + listaId
                    })
                }).fail(function () {
                    Swal.fire({
                        title: "Erro",
                        text: "Ocorreu um erro ao editar o item!",
                        icon: "error"
                    }).then(function () {
                        window.location.href = "/lista/" + listaId
                    })
                })
            }
        }
    </script>

</body>

</html>