<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Make It List - Minhas Listas</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles/module/Etiqueta.css" />
    <%- include('../partials/styles') %>
    <style>
    </style>
</head>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <article class="px-3">
            <section>
                <div>
                    <h3 class="mt-3 mb-3">Minhas listas</h3>
                    <hr />
                </div>
                <div class="container p-0">
                    <a class="text-center d-block mb-4" style="color:#7F07F0;font-size:1.1rem;text-decoration:underline;" href="/lista/criar">
                        <i class="fa-solid fa-plus"></i>
                        Criar lista
                    </a>
    
                    <div>
                        <% for(var lista of listas) { %>
                            <a class="etiqueta etiqueta--lista" href="/lista/<%= lista.id %>">
                                <div class="etiqueta__conteudo">
                                    <div class="etiqueta__titulo">
                                        <%= lista.titulo %>
                                    </div>
                                    <div class="etiqueta__descricao">
                                        <%= lista.itens.length %>/99
                                    </div>
                                </div>
                                <div class="etiqueta__icone">
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <%- include('../partials/scripts') %>

</body>

</html>